* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "GT America Standard", sans-serif;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
  background: #000000;
}

.search-header {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

header h1 {
  color: white;
  font-size: 23px;
  font-weight: 530;
}

.abstract-logo {
  margin-left: 70px;
  height: 30px;
  width: 30px;
}

.header-abstract {
  padding: 0px 12px 0px 2px;
}

.header-help-center {
  border-left: 2px solid white;
  padding: 0px 0px 0px 10px;
}

header a {
  color: white;
  padding-left: 5px;
  text-decoration: none;
}

.header-button-container {
  margin-left: auto;
  margin-right: 70px;
}

.search-button {
  color: white;
  margin-right: 4px;
  border: none;
  background: none;
  transition: transform 0.2s ease-in-out;
}

.search-button:hover {
  transform: scale(1.1);
}

.menu-button {
  color: white;
  background: none;
  border: none;
}

.close-button {
  margin-left: 10px;
  background: none;
  border: none;
}

.help-input {
  background-color: #dadbf1;
  height: 370px;
  text-align: center;
  padding-top: 10%;
}

.help-input h1 {
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 15px;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 75%;
}

.search-header .search-input {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 75%;
  height: 55px;
  font-size: 20px;
  padding: 16px 16px;
}

.help-input .search-input {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  height: 65px;
  font-size: 20px;
  padding: 16px 16px;
}

.input-button {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: 3px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.info-main {
  display: grid;
  padding: 100px 50px 100px 50px;
  grid-template-columns: auto auto;
  grid-template-rows: auto 400px auto;
  justify-content: center;
  column-gap: 70px;
  row-gap: 30px;
}

.info-link {
  text-decoration: none;
}

.info-link:hover {
  text-decoration: underline;
}

.info-container {
  height: 300px;
  width: 300px;
}

.info-container h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.info-container p {
  font-size: 24px;
  width: 200px;
  margin: 0 0 20px 0px;
}

.info-container img {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 30px;
}

.info-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-container {
  position: relative;
  padding: 0 75px 60px 75px;
  height: 700px;
  font-size: 16px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 250px 250px 250px;
}

.footer-column {
  height: 200px;
  width: 350px;
  font-size: 20px;
}

.footer-title {
  margin: 40px 0 20px 0;
}

#break {
  margin-bottom: 30px;
}

strong {
  font-size: 16px;
}

.copyright-footer-container {
  position: absolute;
  margin-right: 50px;
  font-size: 20px;
  height: 150px;
  width: 250px;
  bottom: 60px;
  right: 30px;
  line-height: 24px;
}

.copyright-footer-container .abstract-logo {
  margin: 0 0 20px 0;
  height: 35px;
  width: 35px;
}

.footer-container a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.footer-container a:hover {
  text-decoration: underline;
}
